<h1>Snack Show Page</h1>

<section id="show_that_snack-<%= @snack.id %>">
  <p>
    <strong>Name:</strong> <%= @snack.name %>
  </p>
  <p>
    <strong>Price</strong>: <%= @snack.price %>
  </p>
  <p>
    <strong>Locations:</strong>
  </p>
    <% @snack.machines.each do |machine| %> 
      <section id="snack-per-machine-<%= machine.id %>">
        *<%= machine.location %>
        <%= machine.kind_of_snack_count %> kinds of snacks,
        average price of: <%= number_to_currency( machine.average_snack_cost ) %>
      </section>
    <% end %>
</section>

